@import url("https://fonts.googleapis.com/css2?family=Changa:wght@300;500&family=Yanone+Kaffeesatz:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap");
/*font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Changa', sans-serif;
font-family: 'Neucha', cursive;
font-family: 'Rampart One', cursive;
font-family: 'Architects Daughter', cursive;
font-family: 'Quicksand', sans-serif;*/
.titulo__h1 {
  font-size: 4rem;
}

.titulo__h2 {
  font-size: 3rem;
}

.titulo__h3 {
  font-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  padding: 1.5rem;
  background-color: #4f991e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav {
  width: 100%;
  height: 100%;
}

header nav img {
  width: 10rem;
  height: 10rem;
}

header nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  text-align: center;
  list-style: none;
  font-size: 2.2rem;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: bold;
}

header nav ul li a {
  padding: 1rem;
  color: white;
  text-decoration: none;
  width: 5rem;
}

header nav ul li :hover {
  background-color: #398506;
  border-radius: 150px;
  color: white;
  padding: 2rem;
}

footer {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  font-family: "Yanone Kaffeesatz", sans-serif;
  background-color: #2f5813;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer img {
  padding: 1.5rem;
  width: 10rem;
}

footer div {
  padding: 1rem;
}

footer div a {
  text-decoration: none;
  color: white;
}

footer .footer__redes ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer__redes ul li {
  list-style-type: none;
}

footer .footer__redes ul li a img {
  width: 4rem;
  padding: 1rem;
}

.carrousel {
  border: 0.5rem double ivory;
  background-image: url(https://previews.123rf.com/images/julydfg/julydfg1211/julydfg121100093/16529053-verde-marihuana-hojas-de-fondo-vector-ilustraci%C3%B3n-.jpg);
  background-position: center;
}

.carrousel img {
  margin: 0 auto;
  height: 35rem;
  width: 35rem;
  padding: 0.5rem;
}

.seccionCentral {
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% auto;
      grid-template-columns: 60% auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  gap: 1rem;
      grid-template-areas: "variedad noticias" "podio dato";
}

.seccionCentral .seccionCentral__uno {
  background-color: rgba(123, 209, 66, 0.336);
  text-align: center;
  font-family: "Changa", sans-serif;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: variedad;
}

.seccionCentral .seccionCentral__uno .primerSeccion__elegida {
  background-color: rgba(123, 209, 66, 0.336);
}

.seccionCentral .seccionCentral__uno .primerSeccion__elegida h5 {
  color: #5c855c;
  text-decoration: underline;
}

.seccionCentral .seccionCentral__uno .primerSeccion__elegida img {
  width: 15rem;
  height: 20rem;
  -webkit-transition: all 2s;
  transition: all 2s;
  margin: 1rem;
}

.seccionCentral .seccionCentral__uno .primerSeccion__elegida img:hover {
  width: 25rem;
  height: 25rem;
}

.seccionCentral .seccionCentral__uno .primerSeccion__elegida p {
  padding: 1rem;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: lighter;
}

.seccionCentral .seccionCentral__uno .primerSeccion__lista {
  color: #5c855c;
  background-color: #f1fff0;
  padding: 1rem;
  margin: 1.5rem;
}

.seccionCentral .seccionCentral__uno .primerSeccion__lista h2 {
  text-decoration: underline;
}

.seccionCentral .seccionCentral__uno .primerSeccion__lista ul {
  padding: 0;
}

.seccionCentral .seccionCentral__uno .primerSeccion__lista ul li {
  font-size: 1.5rem;
  list-style-type: none;
  background-color: rgba(123, 209, 66, 0.151);
}

.seccionCentral .seccionCentral__dos {
  text-align: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: podio;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: 0.3rem solid #5c855c;
  font-family: "Rampart One", cursive;
}

.seccionCentral .seccionCentral__dos h2 {
  color: #5c855c;
}

.seccionCentral .seccionCentral__dos div {
  width: 100%;
  padding: 1rem;
}

.seccionCentral .seccionCentral__dos div .podio {
  border: dotted 0.3rem #5c855c;
  border-radius: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.3rem;
  height: 100%;
  padding: 2rem;
}

.seccionCentral .seccionCentral__dos div .podio img {
  width: 100%;
  height: 100%;
  background-color: white;
}

.seccionCentral .seccionCentral__dos div .podio a {
  margin: 2rem;
  text-decoration: none;
  background-color: #5c855c;
  border-radius: 150px;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
}

.seccionCentral .seccionCentral__dos div .podio:hover {
  background-color: rgba(123, 209, 66, 0.336);
}

.seccionCentral .seccionCentral__tres {
  padding: 1rem;
  font-family: "Architects Daughter", cursive;
  color: #5c855c;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: noticias;
  border: 0.3rem solid #5c855c;
}

.seccionCentral .seccionCentral__tres h2 {
  text-align: center;
}

.seccionCentral .seccionCentral__tres button {
  font-size: 2.5rem;
  color: #5c855c;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#c9ead0), color-stop(#bdebc5), color-stop(#b1edba), color-stop(#a5edae), to(#9aeea1)) !important;
  background-image: linear-gradient(to right top, #c9ead0, #bdebc5, #b1edba, #a5edae, #9aeea1) !important;
}

.seccionCentral .seccionCentral__tres .noticias__info {
  font-size: 1rem;
}

.seccionCentral .seccionCentral__tres .noticias__info a {
  margin: 0.5rem;
  padding: 0.2rem;
  font-weight: bold;
  color: #5c855c;
  text-decoration: none;
}

.seccionCentral .seccionCentral__tres .noticias__info a:hover {
  border-radius: 150px;
  border: #5c855c solid;
}

.seccionCentral .seccionCentral__cuatro {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: dato;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#c9ead0), color-stop(#bdebc5), color-stop(#b1edba), color-stop(#a5edae), to(#9aeea1));
  background-image: linear-gradient(to right top, #c9ead0, #bdebc5, #b1edba, #a5edae, #9aeea1);
  text-align: center;
  padding: 1.5rem;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: #5c855c;
}

.seccionCentral .seccionCentral__cuatro h3 {
  background-color: #f1fff0;
}

.seccionCentral .seccionCentral__cuatro img {
  width: 100%;
  height: 70%;
  padding: 0.5rem;
}

.seccionCentral .seccionCentral__cuatro p {
  font-size: 2.3rem;
  background-color: #f1fff0;
}

.instructivo {
  color: #5c855c;
  font-family: "Changa", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: -webkit-gradient(linear, right top, left top, from(rgba(123, 209, 66, 0.493)), color-stop(ivory), color-stop(rgba(123, 209, 66, 0.493)), to(ivory));
  background: linear-gradient(to left, rgba(123, 209, 66, 0.493), ivory, rgba(123, 209, 66, 0.493), ivory);
  border: 0.5rem double #4f991e;
}

.instructivo .instructivo__manual {
  text-align: center;
  text-decoration: underline;
}

.instructivo .instructivo__manual img {
  width: 20rem;
}

.instructivo .instructivo__opciones {
  list-style-type: none;
  text-align: start;
  font-size: 2.3rem;
  font-style: italic;
}

.instructivo .instructivo__opciones li {
  margin: 2rem;
}

.instructivo .instructivo__opciones li a {
  text-decoration: none;
  color: #5c855c;
  padding: 1rem;
  border-radius: 150px;
}

.instructivo .instructivo__opciones li a:hover {
  background-color: #4f991e;
  color: white;
}

.secciones {
  font-family: "Changa", sans-serif;
}

.secciones h5 {
  background-color: rgba(123, 209, 66, 0.541);
  color: #447444;
}

.secciones .opcionManual {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(123, 209, 66, 0.192);
}

.secciones .opcionManual img {
  width: 35%;
}

.secciones .opcionManual p {
  padding: 2rem;
}

.secciones a {
  text-decoration: none;
  text-align: center;
  background-color: #5c855c;
  border-radius: 150px;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  width: 6rem;
  margin: 0.5rem;
}

.opciones {
  padding: 0.5rem;
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#c9ead0), color-stop(#bdebc5), color-stop(#b1edba), color-stop(#a5edae), to(#9aeea1));
  background-image: linear-gradient(to right top, #c9ead0, #bdebc5, #b1edba, #a5edae, #9aeea1);
}

.opciones div {
  border: 0.3rem solid #5c855c !important;
  border-radius: 10% !important;
  background-color: #ddffdd;
  padding: 1.5rem;
  margin: 1rem;
}

.opciones div h5 {
  font-size: 2rem;
  text-decoration: underline;
  color: #5c855c;
}

.opciones div img {
  margin-top: 1.5rem;
  border-radius: 15%;
  height: 80%;
}

.investigaciones {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  color: #5c855c;
  background-color: #f1fff0;
  padding: 1rem;
  border: 0.5rem double #4f991e;
  width: 100%;
}

.investigaciones h3 {
  text-decoration: underline;
}

.investigaciones article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.investigaciones article p {
  font-style: italic;
  font-size: 1rem;
  margin: 1rem;
  width: 100%;
  height: 100%;
}

.investigaciones article img {
  width: 100%;
}

.investigaciones .investigaciones__documental {
  background-image: url(../multimedia/imagenes/4720828.jpg);
}

.investigaciones .investigaciones__documental h2 {
  text-decoration: underline;
  color: #5c855c;
  background-color: #f1fff081;
}

.investigaciones .investigaciones__documental iframe {
  width: 90%;
  height: 25rem;
  margin: 1rem;
}

.productos {
  font-family: "Rampart One", cursive;
  color: #5c855c;
  background-image: url(https://image.freepik.com/vector-gratis/fondo-hoja-cannabis-botanico_23-2148787839.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.productos article {
  background-color: ivory;
  margin: 1rem;
  text-align: center;
  width: 25rem;
  height: 35rem;
  padding: 2rem;
  border-radius: 150px;
  border: dotted 0.3rem #5c855c;
}

.productos article:hover {
  background-color: rgba(110, 161, 76, 0.842);
  color: white;
}

.productos img {
  width: 100%;
  height: 80%;
}

.productos button {
  background-color: #5c855c;
  border-radius: 150px;
  color: white;
  font-family: "Rampart One", cursive;
  font-size: 1.4rem;
  padding: 0.5rem;
  margin: 1rem;
}

.contacto {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#c9ead0), color-stop(#bdebc5), color-stop(#b1edba), color-stop(#a5edae), to(#9aeea1));
  background-image: linear-gradient(to right top, #c9ead0, #bdebc5, #b1edba, #a5edae, #9aeea1);
  padding: 1rem;
  font-family: "Changa", sans-serif;
  color: #5c855c;
}

.contacto h1 {
  text-align: start;
}

.contacto article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contacto article img {
  width: 50%;
  margin: 0.5rem;
}

.contacto article .contacto__formulario {
  width: 50%;
  border: 0.3rem solid #5c855c;
  background-color: rgba(123, 209, 66, 0.075);
  font-size: 1rem;
  padding: 1rem;
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacto article .contacto__formulario .newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1rem;
}

.contacto article .contacto__formulario .contacto__formulario__botones input {
  border-radius: 150px;
  color: white;
  width: 32%;
  height: 1.5rem;
  background-color: #5c855c;
}

.contacto__formulario__botones input:hover {
  background-color: rgba(123, 209, 66, 0.336);
}

@media (max-width: 768px) {
  header nav ul li {
    margin: 0.5rem;
  }
  .seccionCentral {
    padding: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    gap: 0.3rem;
        grid-template-areas: "variedad variedad" "dato noticias" "podio podio";
  }
  .seccionCentral .seccionCentral__uno .primerSeccion__elegida h5 {
    font-size: 3rem;
  }
  .seccionCentral .seccionCentral__dos h2 {
    font-size: 3.2rem;
  }
  .seccionCentral .seccionCentral__tres h2 {
    font-size: 3rem;
  }
  .seccionCentral .seccionCentral__tres button {
    font-size: 2rem;
  }
  .seccionCentral .seccionCentral__cuatro h3 {
    font-size: 4rem;
    margin: 1.5rem;
  }
  .instructivo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .instructivo .instructivo__manual {
    text-align: center;
  }
  .instructivo .instructivo__opciones {
    margin: 1rem;
  }
  .secciones .opcionManual {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .secciones .opcionManual img {
    width: 40%;
    height: 20rem;
  }
  .secciones .opcionManual p {
    font-size: 0.9rem;
  }
  .opciones div h5 {
    font-size: 1.5rem;
  }
  .investigaciones article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .productos article {
    width: 20rem;
    height: 30rem;
  }
  .productos article h2 {
    font-size: 1.4rem;
  }
  .productos article button {
    font-size: 1.2rem;
  }
  .contacto h1 {
    text-align: center;
  }
  .contacto article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
  }
  .contacto article img {
    width: 100%;
  }
  .contacto article .contacto__formulario {
    width: 100%;
  }
  .footer__redes ul li {
    list-style-type: none;
  }
  .footer__redes ul li a img {
    width: 3.5rem;
  }
}

@media (max-width: 576px) {
  header nav img {
    width: 7rem;
    height: 7rem;
  }
  header nav ul li {
    font-size: 2rem;
    margin: 1rem;
  }
  header nav ul li :hover {
    padding: 1.3rem;
  }
  .carrousel img {
    width: 20rem;
    height: 20rem;
  }
  .seccionCentral {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .seccionCentral .seccionCentral__uno .primerSeccion__elegida h5 {
    font-size: 2.5rem;
  }
  .seccionCentral .seccionCentral__dos h2 {
    font-size: 2.8rem;
  }
  .seccionCentral .seccionCentral__dos div .podio img {
    height: 20rem;
  }
  .seccionCentral .seccionCentral__tres h2 {
    font-size: 2.5rem;
  }
  .seccionCentral .seccionCentral__tres button {
    font-size: 1.8rem;
  }
  .seccionCentral .seccionCentral__cuatro {
    padding: 0;
  }
  .seccionCentral .seccionCentral__cuatro h3 {
    font-size: 3rem;
    margin: 1rem;
  }
  .instructivo .instructivo__opciones {
    font-size: 1.8rem;
    padding: 0.8rem;
  }
  .instructivo .instructivo__opciones li {
    margin: 1.5rem;
  }
  .instructivo .instructivo__opciones li a:hover {
    background-color: #4f991e;
    color: white;
  }
  .secciones .opcionManual {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .secciones .opcionManual img {
    width: 100%;
  }
  .secciones .opcionManual p {
    padding: 1rem;
  }
  .secciones a {
    margin: 0.2rem;
  }
  .opciones div img {
    height: 20rem;
  }
  .contacto h1 {
    font-size: 2.5rem;
  }
  .contacto article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contacto article .contacto__formulario {
    width: 100%;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.3rem;
  }
  footer .footer__redes ul {
    padding: 0;
  }
}
/*# sourceMappingURL=estilos.css.map */