.instructivo {
  color: #5c855c;
  font-family: "Changa", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(
    to left,
    rgba(123, 209, 66, 0.493),
    ivory,
    rgba(123, 209, 66, 0.493),
    ivory
  );
  border: 0.5rem double #4f991e;
  padding: 1rem;
  .instructivo__manual {
    padding: 1rem;
    text-align: center;
    h1 {
      text-decoration: underline;
      text-align: center;
      font-size: 3.5rem;
    }
    img {
      width: 20rem;
    }
  }
  .instructivo__opciones {
    padding: 1rem;
    list-style-type: none;
    text-align: start;
    font-size: 2.3rem;
    font-style: italic;
    li {
      margin: 2rem;
      a {
        text-decoration: none;
        color: #5c855c;
        padding: 1rem;
        border-radius: 150px;
      }
    }
  }
}

.instructivo__opciones li a:hover {
  background-color: #4f991e;
  color: white;
}

.secciones {
  .opcionManual {
    font-family: "Quicksand", sans-serif;
    margin-bottom: 1rem;
    padding: 1rem;
    font-weight: bold;
    background-color: #f1fff0;
    button {
      margin: 0.5rem;
    }
  }
  .card-header.titulo {
    background-color: rgba(123, 209, 66, 0.541);
    color: #447444;
    font-family: "Changa", sans-serif;

  }
}
