.productos {
  font-family: "Rampart One", cursive;
  color: #5c855c;
  background: linear-gradient(
    to left,
    rgba(123, 209, 66, 0.493),
    ivory,
    rgba(123, 209, 66, 0.493),
    ivory
  );
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  article {
    background-color: ivory;
    margin: 1rem;
    text-align: center;
    width: 25rem;
    height: 35rem;
    padding: 1.9rem;
    border-radius: 150px;
    border: dotted 0.3rem #5c855c;
  }
  img {
    width: 100%;
    height: 80%;
    padding: 1rem;
  }
  button {
    background-color: #5c855c;
    border-radius: 150px;
    color: white;
    font-family: "Rampart One", cursive;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}

.productos article:hover {
  background-color: rgba(110, 161, 76, 0.425);
  color: white;
}

