@import "fuentes";
@import "variables";
@import "generales";
@import "index";
@import "guias";
@import "cannabisMed";
@import "tienda";
@import "contacto";

@media (max-width: 768px) {
  header {
    nav {
      ul {
        li {
          margin: 0.5rem;
        }
      }
    }
  }
  .seccionCentral {
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 0.3rem;
    grid-template-areas:
      "variedad variedad"
      "dato noticias"
      "podio podio";
    .seccionCentral__uno .primerSeccion__elegida {
      h5 {
        font-size: 3rem;
      }
    }
    .seccionCentral__dos {
      h2 {
        font-size: 3.2rem;
      }
    }
    .seccionCentral__tres {
      h2 {
        font-size: 3rem;
      }
      button {
        font-size: 2rem;
      }
    }
    .seccionCentral__cuatro {
      h3 {
        font-size: 4rem;
        margin: 1.5rem;
      }
    }
  }
  .instructivo {
    display: flex;
    flex-direction: column;
    .instructivo__manual {
      text-align: center;
    }
    .instructivo__opciones {
      margin: 1rem;
    }
  }
  .secciones {
    .opcionManual {
      justify-content: center;
      align-items: center;
      img {
        width: 40%;
        height: 20rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
  .opciones {
    div {
      h5 {
        font-size: 1.5rem;
      }
    }
  }
  .investigaciones {
    article {
      flex-direction: column;
    }
  }
  .productos article {
    width: 20rem;
    height: 30rem;
    h2 {
      font-size: 1.4rem;
    }
    button {
      font-size: 1.2rem;
    }
  }
  .contacto {
    h1 {
      text-align: center;
    }
    article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      img {
        width: 100%;
      }
      .contacto__formulario {
        width: 100%;
      }
    }
  }
  .footer__redes ul {
    li {
      list-style-type: none;
      a img {
        width: 3.5rem;
      }
    }
  }
}

@media (max-width: 576px) {
  header {
    nav {
      img {
        width: 7rem;
        height: 7rem;
      }
      ul {
        li {
          font-size: 2rem;
          margin: 1rem;

          :hover {
            padding: 1.3rem;
          }
        }
      }
    }
  }
  .carrousel img {
    width: 20rem;
    height: 20rem;
  }
  .seccionCentral {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .seccionCentral__uno .primerSeccion__elegida {
      h5 {
        font-size: 2.5rem;
      }
    }
    .seccionCentral__dos {
      h2 {
        font-size: 2.8rem;
      }
      div {
        .podio {
          img {
            height: 20rem;
          }
        }
      }
    }
    .seccionCentral__tres {
      h2 {
        font-size: 2.5rem;
      }
      button {
        font-size: 1.8rem;
      }
    }
    .seccionCentral__cuatro {
      padding: 0;
      h3 {
        font-size: 3rem;
        margin: 1rem;
      }
    }
  }
  .instructivo {
    .instructivo__opciones {
      font-size: 1.8rem;
      padding: 0.8rem;
      li {
        margin: 1.5rem;
      }
    }
    .instructivo__opciones li a:hover {
      background-color: #4f991e;
      color: white;
    }
  }
  .secciones {
    .opcionManual {
      flex-direction: column;
      img {
        width: 100%;
      }
      p {
        padding: 1rem;
      }
    }
    a {
      margin: 0.2rem;
    }
  }
  .opciones {
    div {
      img {
        height: 20rem;
      }
    }
  }
  .contacto {
    h1 {
      font-size: 2.5rem;
    }
    article {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: space-evenly;

      .contacto__formulario {
        width: 100%;
      }
    }
  }
  footer {
    flex-direction: column;
    font-size: 1.3rem;

    .footer__redes ul {
      padding: 0;
    }
  }
}
  