@import "fuentes";
@import "generales";
@import "index";
@import "guias";
@import "cannabisMed";
@import "tienda";
@import "contacto";


@media (max-width: 768px) {
  .seccionCentral{
    border: solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "variedad variedad"
    "dato noticias" "podio podio";
    .noticias{
      h2{

        font-size:3rem ;
      }
      button{
        font-size: 2rem;
      }
    }
  }
  
}